@import url(https://fonts.googleapis.com/css?family=Roboto:300);


h2 {
	font-size: 18px;
	margin-bottom: 8px;
}


table, td, th {
	border-spacing: 1;
	margin: 1rem;
	border: 1px solid;
	border-collapse: collapse;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #6da2c7;
	color: black;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

body, html {
  height: 100%;
}

